<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

   <appSettings>
   
    <add key="files" value="files/" />
    <add key="StadiumGallery" value="Files/Stadium/Gallery/" />
    <add key="StadiumMainImage" value="Files/Stadium/MainImage/" />
    <add key="StadiumMaintenance" value="Files/Stadium/Maintenance/" />
    <add key="Banner" value="Files/Banner/" />
<add key="Evaluate" value="Files/Evaluate/" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>
  <connectionStrings>
    
    <add name="ConnectionStringMaleabna" connectionString="Data Source=moysql.youth.gov.kw;Initial Catalog=MYA_Maleabna;Persist Security Info=True;User ID=malebnaUser;Password=123456789Top" providerName="System.Data.SqlClient" />
  
   <add name="ConnectionStringMYAPIoo" connectionString="Data Source=IT-LOCALSERVER\SQLSERVER;Initial Catalog=MYA_Maleabna;Persist Security Info=True;User ID=malebnaUser;Password=123456789Top" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <machineKey validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryptionKey="123456789012345678901234567890123456789012345678"
validation="SHA1" decryption="Auto" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never"  />
  <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
 <customErrors mode="Off"/>
  </system.web>

</configuration>
